In [2]:
import pandas as pd
file_path = './data/dataset/disk_data.csv'
cols = ['date', 'serial_number', 'model', 'failure', 'vault_id', 's9_power_on_hours']

df = pd.read_csv(file_path, usecols=cols)
df = df.dropna(axis=0) #Drop row with NaNs

df = df[~( df['vault_id'] == 'vault_id')] #Drop rows with 'vault_id' as value

/tmp/ipykernel_16652/3461890713.py:5: DtypeWarning: Columns (3,4,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, usecols=cols)

In [3]:
#Print column names and theit NaN count
def print_nan_count_per_column(df):
    nan_count_per_column = df.isna().sum()
    print(nan_count_per_column)

# Print column names and their data types
def print_col_types(df):
    for column, dtype in df.dtypes.items():
        print(f"Column: {column}, Dtype: {dtype}")
        
print_nan_count_per_column(df)
print_col_types(df)

date                 0
serial_number        0
model                0
failure              0
vault_id             0
s9_power_on_hours    0
dtype: int64
Column: date, Dtype: object
Column: serial_number, Dtype: object
Column: model, Dtype: object
Column: failure, Dtype: object
Column: vault_id, Dtype: object
Column: s9_power_on_hours, Dtype: object

In [4]:
def can_convert_to_int(value):
    try:
        int(value)
        return True
    except ValueError:
        print('Cannot convert to int: ', value)
        return False
    
# Column to check
column_to_check = 'vault_id'

# Check which elements of the column can be converted to int
convertible_indices = [idx for idx, value in enumerate(df[column_to_check]) if can_convert_to_int(value)]

In [12]:
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.strftime('%Y-%m-%d')
df['date'] = pd.to_datetime(df['date'])
df['serial_number'] = df['serial_number'].astype(str)
df['model'] = df['model'].astype(str)
df['failure'] = df['failure'].astype(bool)
df['vault_id'] = df['vault_id'].astype(int)
df['s9_power_on_hours'] = df['s9_power_on_hours'].astype(float)
df['s9_power_on_hours'] = df['s9_power_on_hours'].astype(int)

In [14]:
print_col_types(df)

date                 datetime64[ns]
serial_number                object
model                        object
failure                        bool
vault_id                      int64
s9_power_on_hours             int64
dtype: object

In [13]:
df

,date,serial_number,model,failure,vault_id,s9_power_on_hours
0,2023-04-01,8HK2SSMH,HGST HUH721212ALN604,False,1113,38445
1,2023-04-01,10B0A01UF97G,TOSHIBA MG07ACA14TA,False,1067,27425
2,2023-04-01,5080A117F97G,TOSHIBA MG07ACA14TA,False,1095,18029
3,2023-04-01,ZL2NG0QS,ST16000NM001G,False,2010,6059
4,2023-04-01,ZA174MEJ,ST8000NM0055,False,1053,50273
...,...,...,...,...,...,...
2999999,2023-04-23,PL2331LAHDS4NJ,HGST HMS5C4040BLE640,False,1025,61443
3000000,2023-04-23,Z4D030TR,ST6000DX000,False,1002,48970
3000001,2023-04-23,S30106RZ,ST4000DM000,False,1005,69259
3000002,2023-04-23,S300XCJC,ST4000DM000,False,1006,68087
3000003,2023-04-23,Z304JGGF,ST4000DM000,False,1011,66090